# Azure Service Principal Credentials
# Usado pelo Terraform para autenticar no Azure
ARM_CLIENT_ID="<seu-client-id-aqui>"
ARM_CLIENT_SECRET="<seu-client-secret-aqui>"
ARM_SUBSCRIPTION_ID="<sua-subscription-id-aqui>"
ARM_TENANT_ID="<seu-tenant-id-aqui>"

# Storage Account Access Key (para o backend tfstate)
ARM_ACCESS_KEY="***REMOVED***"
