{{ foundry_domain }} {
    reverse_proxy localhost:30000 {
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-For {remote}
        header_up X-Forwarded-Proto {scheme}
    }

    log {
        output file /var/log/caddy/foundry.log
        format console
    }
}
