{
  "region": "auto",
  "endpoint": "{{ cloudflare_r2_endpoint }}",
  "credentials": {
    "accessKeyId": "{{ cloudflare_r2_access_key_id }}",
    "secretAccessKey": "{{ cloudflare_r2_secret_access_key }}"
  }
}
